# EMAIL
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="465"
SMTP_USER="user email"
SMTP_PASSWORD="app password from google"

# URLs
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
VERCEL_LOCAL_URL=http://localhost:3000

# DATABASE
DATABASE_URL="database uri"

# BETTER AUTH
BETTER_AUTH_SECRET="your better auth secret"
BETTER_AUTH_URL="http://localhost:3000" # Base URL of your app


# CLOUDINARY
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="CLOUDIARY CLOUD NAME"
NEXT_PUBLIC_CLOUDINARY_API_KEY="API KEY0"
NEXT_PUBLIC_CLOUDINARY_API_SECRET="API SECRET"
NEXT_PUBLIC_CLOUDINARY_PRESET_NAME="PRESET NAME"